* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(assets/bg-mobile.png);
    --strok-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(assets/moon-stars.svg);
    --border-color: rgba(255, 255, 255, 0.5);
}

.light {
    --text-color: black;
    --bg-url: url(assets/bg-mobile-light.png);
    --strok-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --switch-bg-url: url(assets/sun.svg);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --border-color: rgba(0, 0, 0, 0.5);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}


#switch {
    position: relative;
    width: 64px;
    margin: 0 auto;
    margin: 30% auto 5% auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50%;
    z-index: 1;
    animation: slide-out 0.4s;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

.light #switch button {
    animation: slide-in 0.4s forwards;
}

#switch span {
    width: 64px;
    height: 24px;
    display: block;
    border-radius: 9999px;
    background: var(--surface-color);
    border: 1px solid var(--strok-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

ul {
    list-style: none;
    flex-direction: column;
    gap: 16px;
    display: flex;
    padding: 24px 0;
}

ul li a {
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 5px #ffffff;
    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--strok-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;

    transition: background 0.5s;
}

ul li a:hover

/*pseudo selector */
    {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social-links {
    padding: 0 0 24px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 10px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);
}

footer {
    text-align: center;
    padding: 25px;
    font-size: 14px;
}

/* media querie*/

@media (min-width: 600px) {
    :root {
        --bg-url: url(assets/bg-desktop.png);
    }

    .light {
        --bg-url: url(assets/bg-desktop-light.png);
    }

    #switch {
        margin: 20% auto auto auto;
    }

    ul li a {
        text-shadow: 0 0 6px #ffffff5b;
    }
}

@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}